div {
	box-sizing: border-box;
	text-transform: uppercase;
}

.responsive {
    background: #cde6d0;
    width: 80vw;
    height: 80vw;
    /* margin: 10px auto; */
}

.mainSquare {
	height: 100%;
	outline: 1px dashed #c2dec5;
	outline-offset: -13px;
}

.row {
	width: 100%;
	display: flex;
}

.top {
	height: 15.384615385%;
}

.center {
	height: 69.23076923%;
}
.square1 {
	outline: 1px solid black;
	flex-grow: 1;
	position: relative;
}

.square2 {
	flex-grow: 2;
	outline: 1px solid black;
	display: flex;
	flex-direction: column;
	position: relative;
}

.square9 {
	flex-grow: 9;
	outline: 1px solid black;
}

.squareSide {
	outline: 1px solid black;
	width: 100%;
	flex-grow: 1;
	position: relative;
}

.header {
	height: 21%;
	position: absolute;
	outline: 2px solid black;
	background: grey;
	/* width: 100%; */
}

.headerSide {
	/* height: 100%; */
	width: 21%;
	position: absolute;
	outline: 2px solid black;
}

.header-top {
	bottom: 1px;
	left: 1px;
	right: 1px;
}

.header-bottom {
	top: 1px;
	left: 1px;
	right: 1px;
}

.header-left {
	top: 1px;
	bottom: 1px;
	right: 1px;
	background: grey;
}

.header-right {
	top: 1px;
	bottom: 1px;
	left: 1px;
	background: grey;
}

.header-text-bottom{
	color: white;
	font-size: 0.7vw ;
	text-align: center;

}

.header-text-right{
	color: white;
	font-size: 0.6vw ;
	position: absolute;
	line-height: 5.5vw;
	text-align: center;
}

.firstLine {
	position: absolute;
	font-size: 0.7vw;
	font-weight: 500;
	line-height: 1vw;
	text-align: center;
}

.firstLine-top {
	left: 1px;
	right: 1px;
	bottom: 30%;
	height: 10%;
}

.firstLine-top.no-color {
	bottom: 12%;
}

.firstLine-left {
	top: 0px;
	bottom: 0px;
	right: 42%;
}

.firstLine-left.no-color {
	right: 23%;
}

.firstLine-right {
	top: 0;
	bottom: 0;
	left: 42%;
}

.firstLine-right.no-color {
	left: 23%;
}

.firstLine-bottom {
	left: 0;
	right: 0;
	top: 30%;
}

.firstLine-bottom.no-color {
	top: 12%;
}

.player-coin {
	position: absolute;
	font-size: 0.7vw;
	font-weight: 500;
	line-height: 1vw;
	text-align: center;
}
.player-coin-bottom{
	left: 0;
	right: 0;
	top: 30%;
}

.red {
	background-color: #C63535;
}

.lobby {
	background-color: #54865f;
}
.aqua {
	background-color: #1bdfed;
}

.darkred {
	background-color: #910000;
}

.darkgreen1 {
	background-color: #196e08;
}

.darkgreen {
	background-color: #1c5349;
}

.maroon {
	background-color: #620F30;
}

.lightmaroon {
	background-color: #864b63;
}
.lightgreen{
	background-color: #86DF2E;
}

.purple{
	background-color: #23005B;
}

.aqua {
	background-color: #1bdfed;
  }

.white {
	background-color: #000000;
}

.yellow {
  background-color: #E8A83A;
}

.lightblue {
  background-color: #406a80;
}

.brown {
  background-color: #502525;
}

.blue {
  background-color: #0072bb;
}

.green {
  background-color: #1fb25a;
}

.orange {
  background-color: #f7941d;
}

.pink {
  background-color: #d93a96;
}

.rotation1 {
  transform: rotate(90deg);
}

.rotation2 {
  transform: rotate(180deg);
}

.rotation3 {
  transform: rotate(-90deg);
}

.logoBox {
	width: 30%;
	background: #ed1b24;
	position: absolute;
	transform: rotateZ(0deg) translateX(45%) translateY(300%);
	border: 3px solid black;
	text-align: center;
	box-shadow: inset 0px 2px 12px 0px white;
}

.logoName {
	font-size: 2vw;
	color: black;
	font-family: futura;
}

.card-box {
	position: absolute;
	width: 15%;
	height: 9vw;
}

.card-blue {
	background: linear-gradient(#4ccaf4, #a3dff9);
	transform: rotateZ(-45deg) translateX(-13%) translateY(66%);
}

.card-blue-inside {
    background: linear-gradient(#a3dff9, #4ccaf4);
    width: 94%;
    height: 94%;
    margin: 0.3vw auto;
    position: relative;
}

.card-orange {
	background: linear-gradient(#f99120, #f57420);
	transform: rotateZ(-45deg) translateX(-13%) translateY(610%);
}

.card-orange-inside {
    background: linear-gradient(#f57420, #f99120);
    width: 94%;
    height: 94%;
    margin: 0.3vw auto;
    position: relative;
}

.card-play {
	position: absolute;
	width: 10%;
	height: 6vw;
	background: linear-gradient(#c44cf4, #a4a3f9);
	transform: rotateZ(0deg) translateX(400%) translateY(100%);
	text-align: center;
}

.corner {
	position: absolute;
	text-align: center;
	line-height: 8vw;
	font-size: 1.2vw;
	font-weight: 500;
}

.corner1 {
    transform: rotateZ(135deg) translateX(-66%) translateY(-15%);
}

.corner2 {
    transform: rotateZ(-135deg) translateX(-30%) translateY(23%);
    line-height: 9vw;
}

.corner3 {
    transform: rotateZ(-45deg) translateX(-14%) translateY(26%);
    line-height: 1.4vw;
    font-size: 1vw;
}

.corner4 {
    transform: rotateZ(45deg) translateX(-9%) translateY(-31%);
    line-height: 7vw;
}

.squareCorner {
	height: 65%;
	width: 65%;
	border: 2px solid black;
	right: -1px;
	top: -1px;
	position: absolute;
}

.corner4-left {
	position: absolute;
	transform: rotateZ(90deg) translateX(80%) translateY(-36%);
	font-size: 1.2vw;
	font-weight: 500;
}

.corner4-bottom {
	position: absolute;
	transform: translateX(100%) translateY(450%);
	font-size: 1.2vw;
	font-weight: 500;
}

#b1{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b2{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/2.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b3{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/3.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b4{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/4.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b5{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/5.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b6{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/6.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b7{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/7.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b8{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/8.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b9{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/9.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b10{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/10.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b11{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/11.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b12{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/12.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b13{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/13.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b14{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/14.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b15{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/15.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b16{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/16.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b17{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/17.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b18{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/18.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b19{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/19.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b20{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/20.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b21{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/21.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b22{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/22.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b23{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/23.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b24{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/24.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b25{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/25.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b26{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/26.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b27{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/27.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b28{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/28.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b29{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/29.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b30{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/30.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b31{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/31.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b32{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/32.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b33{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/33.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b34{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/34.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b35{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/35.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b36{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/36.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b37{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/37.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b38{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/38.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b39{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/39.png');
	background-repeat: no-repeat;
	background-size: cover;
}
#b40{
	content: '';
	position: absoluter;
	background-image: url('/static/images/game/40.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.T1, .T2, .T3, .T4, .T5, .T6{
	border-style: dotted;
	border-color: #000000;
	display: none;
}