{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}
    <title>{{site_name}} | Dice </title>
{% endblock %}


{% block body %}

<div id="back">
    <div id="dice"></div>
    <div class="text-center">
        <div id="displayTurn" style="color: white; font-size: 30px;"></div>
        <input id="roll" class="btn btn-primary" type="button" value="Roll">
        <input id="notRoll" class="btn btn-warning" type="button" value="Wait For Turn">
        <input id="game_status" class="btn btn-danger" type="button" value="Game Paused">
    </div>
</div>
<br>
<hr style="border: 1px solid white;">
<div>
    <span><h3>Balance: {{player_data.balance}}</h3> <h6><a href="{% url 'transactions' user.username %}"> Transaction History </a></h6></span>
</div>
<hr style="border: 1px solid white;">
<div class="row" >
    {% for p in properties %}
        {% if not p.properties.mortgaged %}
        <div class="col-3 card bg-light">
            <div class="card-header">{{p.player.user.username}}</div>
            <div class="card-body">
            <h4 class="card-title">{{p.properties.name}}</h4>
            <p class="card-text">{{p.properties.desc}}</p>
            <p class="card-text">Fine: {{p.properties.rent}}</p>
            <p class="card-text">Mortgage: {{p.properties.mortgage}}</p>
        </div>
        </div>
        {% else %}
        <div class=" col-3 card text-white bg-danger">
            <div class="card-header">{{p.player.user.username}}</div>
            <div class="card-body">
            <h4 class="card-title">{{p.properties.name}}</h4>
            <p class="card-text">{{p.properties.desc}}</p>
            <p class="card-text">Fine: {{p.properties.rent}}</p>
            <p class="card-text">Mortgage: {{p.properties.mortgage}}</p>
        </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

    {{ request.user.id|json_script:"user_id" }}
    {{ game_room|json_script:"game_room" }}
    {{ team_id|json_script:"team_id" }}
    <script src="{% static 'js/game/dice.js' %}"></script>

{% endblock %}